*{
    margin:0;
    padding:0;
}
.webgl { 
    
    
    position: fixed;


    
}
.container{
    position: absolute;
    top:30%;
    left:30%;

    z-index:1;
    color: aquamarine;
    display: grid;
    place-content: center;

}
.content{
    font-size: 50px;
}